# App configuration
*.ini
/.cache

# Environment
/venv/
/.venv/

# Downloaded models
/src/.models/

# Builds
# - Android
/.buildozer/
/bin/
# - Desktop (PyInstaller)
/dist/
/build/

# Python
__pycache__/

# IDE
/.idea/
