# App configuration and cache
/src/**/*.ini
/src/.cache

# Environment
/venv/
/.venv/

# Program cache
/src/util/.cache

# Builds
# - Android
/.buildozer/
/bin/
# - Desktop (PyInstaller)
/dist/
/build/

# Python
__pycache__/

# IDE
/.idea/
