# These are the required packages for the desktop applications (and build dependencies for other targets).
# For android see the `requirements` section of the `buildozer.spec` file.
# TO GENERATE THIS FILE:
# 1. Run `./venv/bin/python -m pipdeptree | grep '=='` and save the output to a file.
# 2. Replace git commits with versions/branches.
# 3. Replace the remaining lines of this file with the output.
appdirs==1.4.4
buildozer==1.4.0
camera4kivy==0.0.7
colorama==0.4.5
Cython==0.29.32
ffpyplayer==4.3.5
Jinja2==3.1.2
Kivy==2.1.0
joystick @ git+https://github.com/Yeicor/joystick@master
kivy3 @ git+https://github.com/KeyWeeUsr/kivy3@master
opencv-python==4.6.0.66
pep517==0.6.0
Pillow==9.2.0
pipdeptree==2.2.1
plyer==2.0.0
pyinstaller==5.3
tellopy @ git+https://github.com/hanyazou/TelloPy@develop-0.7.0
tensorflow-gpu==2.9.1
toml==0.10.2